<div class="todo-container">
    <h3 class="heading">What you want to do today ?</h3>
    <input type="text" class="todo-input-box" [(ngModel)]="todoInput"  />
    <button style="margin-left: 5px;" class="todo-btn" (click)="handleTodoAddClick()">+ Add</button>

  <br/>
  <div>
    <table [width]="400">
      <tbody>
        <tr *ngFor="let todo of todos">
          <td>
            <input type="checkbox" (change)="handleCheckBoxChange($event,todo)"/>
          </td>
          <td [ngClass]="{'stricked':todo.isCompleted}" >{{ todo.title }}</td>
          <td>
            <button (click)="handleDelete(todo)">x</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <br/>
  <div>
    <span>
      {{ getTotalLeft() }} - Left
    </span>
    <span style="margin-left: 250px;">
      {{ getTotalCompleted() }} - Completed
    </span>
  </div>

</div>
