
.todo-container {
  margin-left: 400px;
  margin-top: 100px;
  align-items: center;
}
.stricked{
  text-decoration: line-through;
}
.heading{
  color: green;
}
.todo-btn{
  height: 35px;
  width: 100px;
  background-color:aquamarine;
}
.todo-input-box{
  width: 250px;
  height: 30px;
  border-radius: 0px;
}
